:root {
	--dark-post-bkg: #ffffff1c;
	--light-post-bkg: #f6f6f6;
	--post-bkg-color: var(--light-post-bkg);
	--light-bkg-color: #eeeeee;
	--dark-bkg-color: black;
	--bkg-color: var(--light-bkg-color);
	--light-color: #444;
	--dark-color: #ffffffcf;
	--color: var(--light-color);
	--font-sz-h1: 4em;
	--font-sz-h2: 3em;
	--font-sz-h3: 2em;
	--font-sz-h4: 1.8em;
	--font-sz-h5: 1.6em;
	--font-sz-h6: 1.4em;
	--font-sz: 1.3em;
	--font-sz-h1-tablet: 3em;
	--font-sz-h2-tablet: 2.5em;
	--font-sz-h3-tablet: 2em;
	--font-sz-h4-tablet: 1.8em;
	--font-sz-h5-tablet: 1.6em;
	--font-sz-h6-tablet: 1.4em;
	--font-sz-tablet: 1.2em;
	--font-sz-h1-mobile: 2.1em;
	--font-sz-h2-mobile: 1.9em;
	--font-sz-h3-mobile: 1.6em;
	--font-sz-h4-mobile: 1.5em;
	--font-sz-h5-mobile: 1.4em;
	--font-sz-h6-mobile: 1.3em;
	--font-sz-mobile: 1.2em;
	--light-title-color: #232323;
	--dark-title-color: #dcdcdc;
	--title-color: var(--light-title-color);
}

body {
	background: var(--bkg-color);
	font-family: Arial, Helvetica, sans-serif;
	color: var(--color);
}

body.dark-theme {
	--post-bkg-color: var(--dark-post-bkg);
	--bkg-color: var(--dark-bkg-color);
	--color: var(--dark-color);
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: lighter;

	h1 {
		font-weight: 800;
	}

	h3 {
		font-weight: 600;
	}

	.separatorSvg {
		filter: invert(1);
	}
}

h1 {
	text-align: center;
	font-size: var(--font-sz-h1);
	margin: auto;
	font-weight: bold;
	line-height: 1;
}

h2 {
	text-align: center;
	font-size: var(--font-sz-h2);
	margin: var(--font-sz-h2) auto;
}

h3 {
	text-align: center;
	font-weight: bold;
	font-size: var(--font-sz-h3);
	margin: var(--font-sz-h3) auto;
	line-height: 1;
	//margin: 1em auto;
}

h4 {
	font-size: var(--font-sz-h4);
	margin: var(--font-sz-h4) auto;
}

h5 {
	font-size: var(--font-sz-h5);
	margin: var(--font-sz-h5) auto;
}

h6 {
	font-size: var(--font-sz-h6);
	margin: var(--font-sz-h6) auto;
}

p {
	text-align: left;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: var(--font-sz);
	word-break: break-word;
}

li {
	font-weight: inherit;
}

blockquote {
	font-style: italic;
	border-left-style: groove;
	border-left-width: thick;
	padding-left: 0.4em;
	margin-inline-start: 1em;
	border-left-color: cadetblue;
}

button {
	margin: auto;
	//display: flex;
	border-style: solid;
	border-width: 2px;
	//border-color: var(--color);
	color: var(--color);
	background-color: transparent;
	border-radius: 20px;
	//font-size: 0.8em;
	font-family: inherit;
	//padding: 0 1em;
	transition: 0.3s;
}

button:hover,
button:focus {
	background-color: var(--color);
	color: var(--bkg-color);
}

#darkModeBtn {
	color: var(--bkg-color);
	background-color: var(--color);
	height: 2em;
}

#darkModeBtn:hover,
#darkModeBtn:focus {
	background-color: var(--bkg-color);
	color: var(--color);
}

hr {
	width: 65%;
	text-align: center;
	border-color: var(--color);
}

::marker {
	font-size: var(--font-sz);
}

a {
	color: cadetblue;
}

img {
	max-width: 100%;
	max-height: 100%;
}

@media (prefers-color-scheme: dark) {
	:root {
		--post-bkg-color: var(--dark-post-bkg);
		--bkg-color: var(--dark-bkg-color);
		--color: var(--dark-color);
		--title-color: var(--dark-title-color);
	}

	body {
		font-family: "Open Sans", Arial, sans-serif;
		font-weight: lighter;
	}

	h1 {
		font-weight: 800;
	}

	h3 {
		font-weight: 600;
	}

	.separatorSvg {
		filter: invert(1);
	}


	body.light-theme {
		--post-bkg-color: var(--light-post-bkg);
		--bkg-color: var(--light-bkg-color);
		--color: var(--light-color);
		--title-color: var(--light-title-color);
		font-family: Arial, Helvetica, sans-serif;

		.separatorSvg {
			filter: none;
		}
	}

}

.title {
	margin: 2% auto;
	color: var(--title-color);
	font-family: 'Cinzel', serif;
	white-space: nowrap;
	text-align: center;
}

.titleDiv {
	text-align: center;
}

.mainDiv {
	display: grid;
	grid-auto-columns: 1fr 4fr 1fr;
	grid-auto-flow: column;

}

.post {
	list-style-type: none;
	//margin: 0 2%;
	//font-size: 1.5vw;
	text-align: center;
}

.post li {
	font-size: var(--font-sz);
}

.postDiv {
	//width: 66%;
	background-color: var(--post-bkg-color);
	margin: 1% auto;
	padding: 0 2%;
	min-width: 600px;
	overflow: auto;
}

.postsContainer {
	display: flex;
	flex-direction: column;
	//width: 65%;
	margin: auto;
}

.collapseBtn {
	//font-size: 1em;
	//margin-top: 12%;
	width: 5em;
	height: 2em;
}

//scroll!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.scroll-indicator {
	position: fixed;
	top: 1%;
	z-index: 1;
	width: 1.1%;
	background-color: #b9b9b9;
	//margin-top: -100px;
	//top: 50%;
	//left: 6%;
}

.scroll-indicator h2 {
	text-align: center;
}

.progress-container {
	//width: 100%;
	height: 200px;
	//background: #ccc;
	border-style: solid;
	border-color: #727272;
}

.progress-bar {
	height: 200px;
	background: #0000003D;
	height: 0%;
}

// darkmode Button

.darkModeBtnDiv {
	position: fixed;
	top: 1%;
	right: 1%;
	z-index: 1;
}

.grid-container {
	display: grid;
	grid-template-columns: 10% auto 10%;
	justify-content: space-between;
}

.grid-child {
	display: flex;
	justify-content: center;
    align-items: center;
}

.grid-child-center {
	justify-content: center;
}


//.grid-child > span {
//margin-left: auto;
//margin-top: 5%;
//}

.nowrap {
	white-space: nowrap;
}

.eth {
	display: none !important;
	position: fixed;
	top: 10%;
	right: 1%;
	z-index: 1;
	display: flex;
	flex: 20%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.posts {
	flex: 70%;
}

.donate {
	font-family: inherit;
}

.donateDiv {
	display: flex;
	margin-bottom: 2%;
	flex-direction: column;
	align-items: center;
}

.donateSpan {
	margin-right: 10px;
	font-weight: bold;
	margin-bottom: 2%;
}

.donateInnerDiv {
	display: flex;
	flex-direction: column;
	border: 2px var(--color) dashed;
	padding: 0.5em;
	margin: auto 1%;
	//position: fixed;
	//right: 0%;
	//width: 160px;
}

#donateTitle {
	margin-top: auto;
	margin-bottom: 2%;
	color: #009900;
}

#enableEthButton {
	white-space: nowrap;
	line-height: 1;
}

#donateHr {
	margin-top: 0.8%;
}

#donateDivLast {
	margin-bottom: auto;
}

.postContent {
	text-align: left;
	line-height: 1.4;
}

.separatorSvg {
	display: block;
	margin: 2em auto;
	height: 30px;
	width: 30px;
}

.donateOuterDiv {
	//display: flex;
	//justify-content: center;
    //align-items: flex-start;
	padding: 5%;
	//min-width: 150px;
	grid-column: 3;
}

.titleLogo {
	width: 50px;
}

.titleGridContainer {
	display: inline-grid;
    grid-auto-flow: column;
	grid-auto-columns: 1fr 15fr 1fr;
	align-items: center;
	justify-items: center;
}
//smol screen

@media screen and (max-width: 1007px) {
	.titleGridContainer {
		grid-auto-columns: 1fr 10fr 1fr;
	}

	.postsContainer {
		width: auto;
	}

	.postDiv {
		width: 90%;
		//margin: 5% auto;
		min-width: auto;
	}

	.postTitle {
		margin: 10% auto 5% auto;
	}

	p {
		font-size: var(--font-sz-tablet);
	}

	h1 {
		font-size: var(--font-sz-h1-tablet);
	}

	h2 {
		font-size: var(--font-sz-h2-tablet);
	}

	h3 {
		font-size: var(--font-sz-h3-tablet);
		margin: 2% auto;
	}

	h4 {
		font-size: var(--font-sz-h4-tablet);
	}

	h5 {
		font-size: var(--font-sz-h5-tablet);
	}

	h6 {
		font-size: var(--font-sz-h6-tablet);
	}

	.post li {
		font-size: var(--font-sz-tablet);
	}

	::marker {
		font-size: var(--font-sz-tablet);
	}

	.darkModeBtnDiv {
		position: static;
	}

	#darkModeBtn {
		display: block;
	}

	.grid-container {
		//display: block;
	}

	.hideSpan {
		//margin: 0 auto;
	}

	.donateInnerDiv {
		position: relative;
		flex-grow: 1;
	}

	.mainDiv {
		//grid-auto-flow: row;
		display: flex;
		flex-direction: column;

	}

//rearrange donate to be on top 
	.emptyDiv {
		order: 3;
	}

	.postsContainer {
		order: 2;
	}

	.donateOuterDiv {
		order: 1;
		//margin: 1em auto;
	}

}

@media screen and (max-width: 640px) {
	.titleGridContainer {
		grid-auto-columns: 1fr 5fr 1fr;	
	}

	.titleLogo {
		width: 40px;
	}

	//.titleGridContainer#firstLogo {
		//margin: auto auto auto 2%;
	//}

	.postsContainer {
		width: auto;
	}

	.postDiv {
		min-width: auto;
		width: 90%;
		margin: 2% auto;
	}

	p {
		font-size: var(--font-sz-mobile);
	}

	h1 {
		font-size: var(--font-sz-h1-mobile);
	}

	h2 {
		font-size: var(--font-sz-h2-mobile);
	}

	h3 {
		font-size: var(--font-sz-h3-mobile);
		margin: 3% auto;
	}

	h4 {
		font-size: var(--font-sz-h4-mobile);
	}

	h5 {
		font-size: var(--font-sz-h5-mobile);
	}

	h6 {
		font-size: var(--font-sz-h6-mobile);
	}

	.post li {
		font-size: var(--font-sz-mobile);
	}

	::marker {
		font-size: var(--font-sz-mobile);
	}

	.darkModeBtnDiv {
		position: static;
	}

	#darkModeBtn {
		display: block;
	}

	.grid-container {
		display: block;
	}

	.hideSpan {
		margin: 0 auto;
	}

}
