<!doctype html>
<html lang="en">
    <head>
		  <!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-NWRNQSFL9N"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-NWRNQSFL9N');
		</script>      
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800">
		<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <script  src="/assets/js/bn.js"></script>
        <script src="/assets/js/script.js"></script>
        <!-- generics -->
        <link rel="icon" href="/assets/images/fav32.png" sizes="32x32">
        <link rel="icon" href="/assets/images/fav128.png" sizes="128x128">
        <link rel="icon" href="/assets/images/fav192.png" sizes="192x192">
        <link rel="icon" href="/assets/images/fav228.png" sizes="228x228">

        <!-- Android -->
        <!--link rel="shortcut icon" sizes="196x196"
         href=“/path/to/favicon-196.png"-->

        <!--iOS -->
        <!--<link rel="apple-touch-icon" href="/path/to/favicon-120.png" sizes="120x120">-->
        <!--<link rel="apple-touch-icon" href="path/to/favicon-152.png" sizes="152x152">-->
        <link rel="apple-touch-icon" href="/assets/images/tc_favicon180.png" sizes="180x180">
        {% feed_meta %}
        {% seo %}
    </head>
    <body>
		<h1> TRUTH COMPOUNDS </h1>
		<!--<h3>.. is some dude searching for truth</h3>-->
		<!--<hr id="mainHr">-->
		<div class="flexParent">

			<!--SCROLL INDICATOR	-->
			<div class="scroll-indicator">
				<div class="progress-container" id="myBarBackground">
					<div class="progress-bar" id="myBar"></div>
				</div>
			</div>

			<div class="darkModeBtn" onclick="toggleDarkTheme()">
				<button id="darkBtn">Thief Mode</button>
			</div>

			<div class="posts">
				{{content}}
			</div>

			<div class="eth">	
				<h1 class="donate">$$$</h1>
				<span id="eth1" class="donate">1.</span>
				<button class="enableEthereumButton btn">Enable Ethereum</button>
				<span id="eth2" class="donate">2.</span>
				<button class="sendEthButton btn">Send Eth</button>
				<span id="eth3" class="donate"></span>
			</div>
		</div>

    </body>
</html>
